footer
  .container.text-center
    p.pull-left © 2016 TackRPI All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/TackRPI/tack_express') GitHub Project
      li
        a(href='https://github.com/TackRPI/tack_express/issues') Issues
